.content{

    position: absolute;
    top:20%;
    left:30%;
    width:600px;
    border: solid rgb(0, 128, 128);
    height:600px;
    box-shadow: 2px 6px 5px rgba(0, 128, 128,0.8);
    
}

.text-card{
    border-top: solid rgb(0, 128, 128);
    
    z-index: 999px;


}
