.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    transition: opacity 1000ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: linear-gradient(#fff, #4AA0A5);
    
}
#close-button{
    background:#008080;
    position: absolute;
    right:-10px;
    top:-10px;
    width:30px;
    border-radius: 14px;
    color: #fff;
    text-align:center;

}

.modalDialog form{
    padding: 10px;

}


input{
    margin:5px;

}
