table{
    position: relative;
    top: 100px;
    left: 30%;
}

thead {
    background: rgb(109, 224, 224);
    text-align:center;
    color: black;
}
th > a{
    color: black;
}
td{
    text-align:center;
    border-left: solid rgb(109, 224, 224);
    border-bottom: solid rgb(109, 224, 224);
    
}

.destination{
    display: flex;   
}
td a{

    padding:5px;
}

table{


}




