
table{
  border-right: solid rgb(109, 224, 224);
  border-top:solid rgb(109, 224, 224);
  box-shadow: 2px 3px 3px 6px rgb(109, 224, 224);;

}

thead {
    background: rgb(109, 224, 224);
    text-align:center;
    color: black;
}
thead>#create-anchor {
    border-radius: 8px;
    background:grey;
    border :solid rgb(109, 224, 224);
    border-radius: 8px;
    

}
th > a{
    color: black;

}
td{
    text-align:center;
    border-left: solid rgb(109, 224, 224);
    border-bottom: solid rgb(109, 224, 224);
    
}

.destination{
    display: flex;   
}
td a{

    padding:5px;
}





/*table.profile-table{
    position: absolute;
    right: 0;

}*/




